<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">My Incomes</h6>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Source</th>
                        <th>Amount</th>
                        <th>Received Date</th>
                        <th>Method</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Source</th>
                        <th>Amount</th>
                        <th>Received Date</th>
                        <th>Method</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for i in all_income %}
                        <tr>
                            <td>{{ i.category_name }}</td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.source }}</td>
                            <td>{{ i.amount }}</td>
                            <td>{{ i.received_date }}</td>
                            <td>{{ i.payment_method }}</td>
                            <td>
                                <a
                                    class="link-opacity-50-hover js-edit-income-btn"
                                    href="#"
                                    data-toggle="modal"
                                    data-target="#editIncomeModal"
                                    data-income-api-url="{{ url_for('income.get_income_api', income_id=i.id) }}"
                                    data-income-update-url="{{ url_for('income.update_income_route', income_id=i.id) }}"
                                >
                                    <i class="bi bi-pencil" style="color: cornflowerblue;"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>