{% extends 'auth/layout.html' %}
{% block body %}
    <!-- Sidebar -->
    {% include 'auth/partials/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div id="content">


        <!-- Topbar -->
            {% include 'auth/partials/topbar.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- Modal -->
            {% include 'auth/modals/add_expense.html' %}
            {% include 'auth/modals/edit_expense.html' %}
            {% with category_create_endpoint='expense.insert_expense_category_route', add_category_modal_id='addCategoryModal', add_category_modal_label_id='addCategoryModalLabel' %}
                {% include 'auth/modals/add_category.html' %}
            {% endwith %}
            {% include 'auth/modals/edit_category.html' %}

            
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">My Expense</h1>
            <p class="mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addExpenseModal">
            Add Expense
            </button>
            {% if error_message %}
                <label for="validationError" class="form-label text-danger">
                    {{ error_message }}
                </label>
            {% endif %}

            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    {% include 'auth/tables/expense_table.html' %}
                </div>
                <div class="col-xl-4 col-lg-5">
                    {% with category_api_endpoint='expense.get_expense_category_api', category_update_endpoint='expense.update_expense_category_route', category_delete_endpoint='expense.delete_expense_category_route', category_add_modal_target='#addCategoryModal', category_edit_modal_target='#editCategoryModal' %}
                        {% include 'auth/cards/categories_card.html' %}
                    {% endwith %}
                </div>
            </div>

            </div>
            <!-- /.container-fluid -->

            <script src="{{ url_for('static', filename='js/pages/edit-form-helper.js') }}"></script>
            <script src="{{ url_for('static', filename='js/pages/expense-page.js') }}"></script>

        </div>
    <!-- End of Main Content -->

{% endblock %}

