{% extends 'auth/layout.html' %}
{% block body %}
    <!-- Sidebar -->
    {% include 'auth/partials/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div id="content">


        <!-- Topbar -->
            {% include 'auth/partials/topbar.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

            
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">My Expense</h1>
            <p class="mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addExpenseModal">
            Add Expense
            </button>
            {% if error_message %}
                <label for="validationError" class="form-label text-danger">
                    {{ error_message }}
                </label>
            {% endif %}
            <!-- Modal -->
            {% include 'auth/modals/add_expense.html' %}
            <!-- DataTales Example -->
            {% include 'auth/tables/expense_table.html' %}

            </div>
            <!-- /.container-fluid -->

        </div>
    <!-- End of Main Content -->

{% endblock %}

