{% extends 'auth/layout.html' %}
{% block body %}
    <!-- Sidebar -->
    {% include 'auth/partials/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div id="content">


        <!-- Topbar -->
        {% include 'auth/partials/topbar.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- Modal -->
            
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">My Saving Goals</h1>
            <p class="mb-4">
                Track your savings progress and achieve your financial goals. Set targets, monitor progress, and stay motivated on your path to financial success.
            </p>

            <!-- Button trigger modal -->
            <!-- TODO: Uncomment when modal is ready -->
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSavingGoalModal">
            Add Saving Goal
            </button> -->
            {% if error_message %}
                <label for="validationError" class="form-label text-danger">
                    {{ error_message }}
                </label>
            {% endif %}

            <!-- DataTales Example -->
            {% include 'auth/tables/saving_goals_table.html' %}

        </div>
        <!-- /.container-fluid -->

        <!-- TODO: Add JavaScript when modals are ready -->
        <!-- <script src="{{ url_for('static', filename='js/pages/edit-form-helper.js') }}"></script> -->
        <!-- <script src="{{ url_for('static', filename='js/pages/saving-goals-page.js') }}"></script> -->

    </div>
        <!-- End of Main Content -->
{% endblock %}